# dependencies
/node_modules
/labs/puppeteer/node_modules
/labs/babel/node_modules
/labs/BSON/node_modules
/exercises/stateManagement/node_modules
/exercises/express/node_modules
/exercises/expressNew/node_modules
/exercises/zip/node_modules
/exercises/expressUpload/node_modules
/exercises/dnode/node_modules
/exercises/blockchain/node_modules
/exercises/socket-io-simple-chat/node_modules
/exercises/design-systems/landingWithFlexboxes/node_modules
/exercises/design-systems/landingWithGridCss/node_modules
/exercises/wordpress/node_modules
/exercises/graphQL/node_modules